body {
    font-family: 'MyCustomFont', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: rgba(53, 66, 74, 0.9); /* Slightly transparent */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

main {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.contact-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form textarea {
    resize: vertical;
    height: 150px;
}

.contact-form .btn {
    padding: 10px 20px;
    background: #35424a;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form .btn:hover {
    background: #1f2a36;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
    margin-top: auto;
    display: flex;
    justify-content: bottom;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 0;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

footer ul li {
    margin: 0 10px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #f9f9f9;
}

.about-me-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.about-me-text {
    max-width: 600px;
}

.about-me-text h1 {
    margin-bottom: 10px;
    font-size: 2em;
}

.about-me-text p {
    margin-bottom: 10px;
    line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 90%;
    }
}
